.podcasts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 85vh;
    margin: 0 auto;
    padding: 4rem;
}