@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  

}
h1{
  font-size: 1.8rem;
  color: #EDE1D5;
  font-family: "Press Start 2P";
}
.intro{
  font-family: "Press Start 2P";
  color: white;
  width:80vw;
}
.logo img {
  max-width: max-content;
  height: auto; 
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #000000; /* Set the background color to black */
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
}


@media (max-width: 768px) {
  .logo img {
    max-width: 80%;
  }
}