.logo {
    /* Add your logo styles here */
    position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */

  }
  
  .logo img {
    width: 20rem;
    height: auto;
    /* Add image-specific styles if needed */
  }