.logo {
  display: flex;
  justify-content: center;
  filter:invert(1)
}

.logo img {
  max-width: 60vh;
  height: auto; 
  margin-bottom: 20px;

}


@media (max-width: 768px) {
  .logo img {
    max-width: 80%;
  }
}