

.navbar{
   
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.round-buttons{
  
        border-radius: 80%; /* Makes the button round */
        
    
}
img{
    height: 5rem;
}