@media (max-width: 768px) {
    .burger-menu {
      display: block; /* Show the burger menu button */
    }
  }
  
  /* CSS for larger screens (e.g., desktop) */
  @media (min-width: 769px) {
    .burger-menu {
      display: none; /* Hide the burger menu button */
    }
  }

.navbar{
   
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.round-buttons{
  
        border-radius: 80%; /* Makes the button round */
      
          
    
}

.tooltip-center::after {
    content: ''; /* Empty content */
    display: block;
    text-align: center;
    white-space: nowrap;
  }
  
  /* Add the animation */
  .shrink-button {
    transition: transform 1.0s ease-in-out; 
  }
  
  .shrink-button:hover {
    transform: scale(0.70); 
  }

img{
    height: 5rem;
}