@media (max-width: 768px) {
  .burger-menu {
    display: block; /* Show the burger menu button */
  }
}
/* CSS for larger screens (e.g., desktop) */
@media (min-width: 769px) {
  .burger-menu {
    display: none; /* Hide the burger menu button */
  }
}

h1 {
  font-family: 'ShadowedGermanica'; /* Replace with your custom font name */
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add space between h1 and icons */
  color: #fff; /* Change the text color */
  text-align: center; /* Center-align the text */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: static; /* Add position relative to the navbar */
}

.round-buttons{
      /* border-radius: 80%; Makes the button round */
      display: flex;
  align-items: center;
}
.tooltip-center::after {
  content: ''; /* Empty content */
  display: block;
  text-align: center;
  white-space: nowrap;
}
/* Add the animation */
.shrink-button {
  transition: transform 1.0s ease-in-out;
}
.shrink-button:hover {
  transform: scale(0.85);
}
img{
  height: 5rem;
}