* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

  .card-example-card {
    background-color: transparent;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    justify-content: center;
  }

.podcasts {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(300px, 3fr)); /* This will auto-adjust the number of cards per row based on the card's min-width of 300px */
    gap: 20px; /* Gap between each card */
    
   
}

/* Optional: Some styling for better appearance on larger screens */
@media screen and (min-width: 768px) {
    .podcasts {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 30px;
        padding: 40px;
    }
}