/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Blog Post Styles */
.dark {.blog-post {
  border-bottom: 1px solid black;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  color: #000;
}

.blog-post p {
  font-size: 1.1rem;
  line-height: 1.5;
  color:#000
  
}

/* Comments Section */
.comment-list {
  margin-top: 20px;
  padding-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  
  margin-bottom: 5rem;
}

.comment-form textarea {
  margin-top: 2rem;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Containers & Flex */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.main-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #000;
  gap: 2rem;
}

.comment-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Miscellaneous Styles */
.comment-text {
  margin: 12px 0;
  font-size: 1.15rem;
  font-weight: 600;
  width: 35%;
  border-radius: 5px;
}

.input-box {
  height: 75px;
  width: 35vw;
  background-color:transparent;
  border-radius: 5px;
}

h3 {
  color: teal;
}

/* Button Styles */
.comment-button {
  appearance: button;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto 10px;
  padding: 12px 40px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.comment-button:hover,
.comment-button:focus {
  text-decoration: none;
}

.comment-button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.comment-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* Media Queries */
@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
}