/* developersCards.css */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    max-height: 800px;
    min-height: 600px;
  }
  
  .card {
    height: 379px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.8s;
  }
  
  .card:hover {
    background-size: 600px;
  }
  
  .iconContainer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .icon {
    margin: 0 10px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .card:hover .icon {
    opacity: 1;
  }
  
  h2, p {
    text-align: center;
    color: white;
  }
  